* {
	box-sizing: border-box;
}

body {
	background-color: white;
}

a {
font-family: eb-garamond, serif;
font-weight: 400;
font-style: normal;
text-decoration: none;
color: #333;
line-height: 25px;
transition: color 0.3s linear;
-webkit-transition: color 0.3s linear;
-moz-transition: color 0.3s linear;
}

p {
font-family: eb-garamond, serif;
font-weight: 400;
font-style: normal;
text-decoration: none;
color: #333;
}

h1 {
font-family: apotek-extended, sans-serif;
font-weight: 800;
font-style: normal;
color: white;
-webkit-text-stroke: 1px;
-webkit-text-stroke-color: black;
letter-spacing: 2px;
}

h2 {
  font-family: apotek-extended, sans-serif;
font-weight: 800;
font-style: normal;
letter-spacing: 1px;
}


a:hover { 
color: #dcdcdc; 
}

header, nav, main, footer {
	width: 80%;
	margin: auto;
}

header { 
	margin-top: 60px;
  padding-bottom: 60px;
  align-items: center;
}

header img {
  display: inline;
}

header h1 {
  display: inline;
	font-size: 48px;
  padding-left: 25px;
}

nav { 
  background-color: white;
  padding: 4px 60px; 
}
nav ul { 
	display: flex;
	justify-content: center;
}
nav li { 
  padding: 1px 10px; 
  }
nav a { 
  color: black;
  }
nav a:hover { 
  color: #dcdcdc; 
  }

.thumbs {
  width: 80%;
  margin: auto;
}

main { 
	background-color: #fff;
	display: inline;
	grid-template-columns: 60% 40%;
}

section {
	padding: 40px 60px;
}

section ul, aside ul {
	list-style-type: square;
	margin-top: 20px; 
	margin-left: 30px;
	margin-bottom: 40px;
}

aside {
	padding: 40px 10px;
  display: none;
}

footer { 
	color: black;
	text-align: center;
 }

 footer p { 
  padding-bottom: 20px; 
 }
